<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Local ChatBot</title>
        {% block main-css %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'chatbot/css/styles.css' %}"
        />
        {% endblock main-css %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% block header %}
            {% endblock header %}

            <!-- Content section-->
            {% block content %}
            {% endblock content %}

        {% block main-js %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'chatbot/js/scripts.js' %}"></script>
        {% endblock main-js %}
    </body>
</html>
